.cont {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
}

.api-content-block .cont,
.pricing-content-block .cont,
.interactive-content-block .cont,
.docs-content-block .cont {
    text-align: inherit;
}

.pricing-content-block .cont .pricing-block {
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

.header-main,
.header-autor {
    display: block;
    max-width: 100%;
    min-height: 775px;
    background: url("../images/fon.jpg") no-repeat;
    background-size: cover;
    z-index: 100;
}

.weather-bar > .navigation {
    line-height: 25px;
}

.weather-bar > .navigation > .nav-element {
    min-height: 30px;
    position: relative;
}

.weather-bar > .navigation > .nav-element .nav-wrapper,
.head-menu > .navigation > .nav-element .nav-wrapper,
.foot-menu > .navigation > .nav-element .nav-wrapper {
    position: absolute;
    bottom: 0;
}

.head-menu > .navigation {
    line-height: 45px;
}

.head-menu > .navigation > .nav-element {
    min-height: 45px;
    position: relative;
}

.foot-menu > .navigation {
    line-height: 45px;
}

.foot-menu > .navigation > .nav-element {
    min-height: 45px;
    position: relative;
}

.foot-menu {
    padding-bottom: 1%;
}

.libraries-block .nav-element {
    line-height: 25px;
    margin-bottom: 41px;
}

.libraries-block .nav-element p {
    text-align: left;
    padding: 3px 0 0 35px;
}

.navigation > .nav-element.city-block .city {
    border-bottom: 1px dashed #333;
}

.navigation > .nav-element.city-block .city,
.navigation > .nav-element.temperature-block {
    font-size: 18px;
    font-weight: 800;
}

.navigation > .nav-element.city-block .glyphicon {
    font-size: 14px;
}

.navigation > .nav-element.temperature-block > img {
    display: inline-block;
}

.navigation > .nav-element.temperature-block > span {
    padding-left: 21px;
    font-size: 21px;
}

.navigation > .nav-element.date-block {
    font-size: 13px;
    font-weight: 900;
    color: rgba(51, 51, 51, 0.67);
}

.navigation > .nav-element.temperature-block > .nav-wrapper,
.navigation > .nav-element.city-block > .nav-wrapper,
.navigation > .nav-element.weather-block > .nav-wrapper,
.navigation > .nav-element.date-block > .nav-wrapper {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.navigation > .nav-element.weather-block.weather-block-desktop > .nav-wrapper {
    left: inherit;
    right: 15px;
}

.navigation > .nav-element.search-block > .nav-wrapper {
    margin-bottom: 3px;
    width: calc(100% - 30px);
}

.navigation > .nav-element.search-block form {
    display: inline-block;
}

.navigation > .nav-element.search-block input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.67);
    height: 28px;
    background: transparent;
}

.navigation > .nav-element.search-block form,
.navigation > .nav-element.search-block input {
    width: 100%;
}

.navigation > .nav-element.search-block span {
    position: absolute;
    color: rgba(51, 51, 51, 0.67);
    font-size: 23px;
    top: 4px;
    left: -24px;
}

.weather-block {
    font-size: 12px;
    font-weight: 900;
    color: rgba(51, 51, 51, 0.67);
}

.font-menu {
    font-size: 18px;
    font-weight: 700;
}

.menu-foot a, .menu-head a {
    color: #555;
}

.menu-head a:hover {
    color: #000;
    border-top: 1px solid #000;
    padding-top: 3px;
}

.menu-foot a:hover {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.menu-head a:active {
    color: #000;
    border-top: 1px solid #000;
    padding-top: 3px;
}

.menu-foot a:active {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.img-logo {
    max-width: 24%;
}

.text-logo {
    font-size: 40px;
    vertical-align: middle;
}

.head-info {
    margin-top: 16%;
}

h1, h2 {
    font-weight: 700;
}

.head-info > h1 {
    margin-bottom: 46px;
}

.head-info > h2 {
    font-weight: 100;
    margin-bottom: 4.7%;
    font-size: 30px;
}

.but-head {
    border-radius: 8px;
    color: #333;
    background-color: transparent;
    border-color: orange;
    width: 192px;
    height: 54px;
    font-size: 30px;
}

.no-center {
    text-align: initial;
}

.upletter {
    text-transform: uppercase;
}

.what-apixu-block {
    max-width: 100%;
    height: auto;
    padding: 2.2% 0 3%;
}

.what-apixu-block h1 {
    font-size: 47px;
    margin-bottom: 5.5%;
}

.what-apixu-block h2 {
    font-size: 34px;
}

.what-apixu-block .row {
    text-align: initial;
    font-size: 30px;
    padding: 6% 17%;
}

.what-apixu-block .row #img-free {
    margin: -9px 0 0 17px;
}

.what-apixu-block .row #img-scalab {
    margin: -11px 0 0 7px;
}

.what-apixu-block .row #img-fast {
    margin: -17px 0 0 17px;
}

.what-apixu-block .row #img-indivad {
    margin: 3px 0 0 6px;
}

.what-apixu-block .row #img-simple {
    margin: -76px 0 0 17px;
}

.what-apixu-block .row #text-free {
    margin: -49px 0 0 95px;
}

.what-apixu-block .row #text-scalab {
    margin: -50px 0 0 84px;
}

.what-apixu-block .row #text-fast {
    margin: -56px 0 0 96px;
}

.what-apixu-block .row #text-indivad {
    margin: 13px 0 0 -14px;
}

.what-apixu-block .row #text-simple {
    margin: -80px 0 0 97px;
}

.what-apixu-block span {
    width: 65%;
    display: block;
    margin: 0 auto;
    font-size: 31px;
    line-height: 48px;
}

.how-work-block {
    background: url("../images/fon2.jpg") no-repeat center center fixed;
    padding: 54px 0 0;
}

.how-work-block h1 {
    margin-bottom: 7%;
    font-size: 49px;
}

.how-work-block h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 12%;
}

.how-work-block h4 {
    font-size: 28px;
    font-weight: 100;
    padding: 2% 0;
}

.how-work-block p {
    font-size: 19px;
    line-height: 34px;
    color: #333;
    width: 76%;
    margin: auto;
    margin-bottom: 0 !important;
}

.how-work-block button {
    margin-bottom: 25% !important;
    margin-top: 4% !important;
}

.how-work-block .img2 {
    height: 125px;
}

.how-work-block .img3 {
    padding: 11px 0;
}

.how-work-block .img5 {
    padding-top: 20px;
}

.how-work-block .img6 {
    padding-top: 3px;
}

.but-learn, .get-start, .get-start-api {
    border-radius: 11px;
    color: #333;
    background-color: transparent;
    border-color: orange;
    width: 175px;
    height: 46px;
    font-size: 22px;
}

.pricing-block {
    padding: 0.5% 0 6%;
}

.pricing-block h1 {
    margin-bottom: 8%;
    font-size: 48px;
}

.block-coast {
    width: 249px;
    padding: 10px;
    color: white;
    font-size: 45px;
    margin-bottom: 11px;
}

.pricing-block div.free, div.silver, div.gold, div.platinum {
    width: 249px;
    padding: 10px;
    color: white;
    font-size: 45px;
    margin: auto;
    margin-bottom: 11px !important;
}

.plan-details .free,
.plan-details .silver,
.plan-details .gold,
.plan-details .platinum {
    width: 115px;
    padding: 4px;
    font-size: 26px;
    color: white;
    margin: auto;
    margin-bottom: 11px !important;
    text-align: center;
}

.free {
    background-color: #9DC274;
}

.silver {
    background-color: #518BBD;
}

.gold {
    background-color: #FFC000;
}

.platinum {
    background-color: #FE9516;
}

.coast {
    font-size: 54px;
}

.pricing-block .get-start {
    width: 233px;
    font-size: 29px;
    height: 50px;
}

.pricing-block .get-start.fr:hover {
    background-color: #9DC274;
    border-color: #9DC274;
}

.pricing-block .get-start.sl:hover {
    background-color: #518BBD;
    border-color: #518BBD;
}

.pricing-block .get-start.gl:hover {
    background-color: #FFC000;
    border-color: #FFC000;
}

.pricing-block .get-start.pl:hover {
    background-color: #FE9516;
    border-color: #FE9516;
}

.pricing-block span {
    font-size: 25px;
}

.pricing-block hr {
    width: 185px;
}

.footer-main {
    display: block;
    max-width: 100%;
    height: auto;
    background: url("../images/fon3.jpg") no-repeat;
    background-size: cover;
}

.libraries-block {
    width: 60%;
    margin: auto;
    padding: 3% 0 4%;
}

.libraries-block h1 {
    margin-bottom: 14.5%;
    font-size: 49px;
}

.libraries-block .row {
    margin-left: 0;
    margin-right: 0;
}

.offic {
    font-size: 25px;
}

.prog-lang {
    font-size: 33px;
    font-weight: 700;
}

#lang-perl {
    font-size: 25px;
}

#lang-php {
    font-size: 27px;
}

#lang-node {
    font-size: 21px;
}

#lang-java {
    font-size: 27px;
}

#lang-ruby {
    font-size: 25px;
}

#lang-andr {
    font-size: 21px;
}

#lang-pyth {
    font-size: 23px;
}

.libraries-block .nav-element #sharp {
    margin-left: 24px;
}

.libraries-block .nav-element #perl {
    margin: -5px 0 0 31px;
}

.libraries-block .nav-element #php {
    margin: 19px 0 0 17px;
}

.libraries-block .nav-element #node {
    margin: -4px 0 0 29px;
}

.libraries-block .nav-element #java {
    margin: -18px 0 0 33px;
}

.libraries-block .nav-element #ruby {
    margin: -1px 0 0 33px;
}

.libraries-block .nav-element #android {
    margin: -10px 0 0 23px;
}

.libraries-block .nav-element #pyton {
    margin: -10px 0 0 32px;
}

#libraries-marg-row4 {
    margin-top: 12px;
}

#grad {
    min-height: 775px;
    padding-top: 20px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0.9)); /* Standard syntax (must be last) */
}

#gradient {
    padding-top: 20px;
    margin-bottom: 5%;
    background: -webkit-linear-gradient(top, rgba(0, 113, 209, 0.53), rgba(255, 255, 255, 0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0, 113, 209, 0.53), rgba(255, 255, 255, 0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0, 113, 209, 0.53), rgba(255, 255, 255, 0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 113, 209, 0.53), rgba(255, 255, 255, 0.9));
}

input[type="search"]:focus {
    outline: none;
}

.head-menu-mobile {
    background-color: #fff;
    padding: 1% 0;
}

.foot-menu-mobile {
    background-color: #353535;
    padding: 3% 0;
}

.head-menu-mobile .glyphicon-search {
    float: right;
    font-size: 23px;
}

.head-menu-mobile {
    font-size: 20px;
    font-weight: 700;
}

.head-menu-mobile .img-logo-mobile {
    max-width: 10%;
}

.head-menu-mobile .logo-mobile {
    text-align: center;
}

.btn-pricing {
    margin-right: 3%;
}

.foot-menu-mobile a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.foot-menu-mobile > .col-xs-12 > div {
    border-right: 3px solid #fff;
    padding-right: 3px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.foot-menu-mobile a:active {
    border-top: 1px solid #fff;
    padding-top: 3px;
}

.foot-menu-mobile a:hover {
    border-top: 1px solid #fff;
    padding-top: 3px;
}

.foot-menu-mobile a:active,
.foot-menu-mobile a:hover,
.foot-menu-mobile a:focus,
.menu-head a:hover,
.menu-foot a:hover,
.menu-head a:active,
.menu-foot a:active {
    text-decoration: none;
}

header > .row,
footer > .row {
    width: 100%;
    margin: 0;
}

.api-content-block .get-start-api {
    width: 368px;
    font-size: 23px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 27px;
}

.api-content-block .row .col-md-6 {
    padding: 0 80px 0 15px;
}

.api-content-block #icon9 {
    margin: 29px 20px 0 -16px;
    width: 60px;
}

.api-content-block #icon8 {
    margin: 27px 19px 0 -2px;
    width: 61px;
}

.api-content-block #icon7 {
    width: 62px;
    margin: 28px 20px 0 -3px;
}

.api-content-block #icon6 {
    width: 61px;
    margin: 28px 22px 0 -2px;
}

.api-content-block #icon5 {
    margin: 29px 19px 0 -2px;
    width: 62px;
}

.api-content-block #icon4 {
    width: 62px;
    margin: 28px 20px 0 -3px;
}

.api-content-block #icon3 {
    width: 60px;
    margin: 28px 19px 0 -2px;
}

.api-content-block #icon2 {
    width: 60px;
    margin: 27px 22px 0 -6px;
}

.api-content-block #icon1 {
    width: 61px;
    margin: 29px 18px 0 13px;
}

.pricing-content-block .ps-text {
    margin-top: 8px;
    width: 100%;
    background-color: rgb(123, 182, 231);
    padding: 0 26px 3px;
    color: white;
}

.pricing-content-block .ps-text > span {
    padding-left: 15px;
}

.logo {
    color: #333;
}

.logo:hover,
.logo:focus {
    color: #333;
    text-decoration: none;
}

.plan-details > div > div > div {
    text-align: center;
}

hr {
    border-top: 1px solid rgba(119, 119, 119, 0.19);
}

.login-content-block,
.sigin-content-block {
    width: 36%;
    background-color: rgb(255, 255, 255);
    padding: 2% 5% 7%;
    margin-left: 30%;
    margin-top: 54px;
}

.sigin-content-block h1,
.login-content-block h1 {
    font-size: 47px;
    margin: 23px 0 17px 19px;
}

.sigin-content-block span.text,
.login-content-block span.text {
    font-size: 25px;
}

.sigin-content-block form,
.login-content-block form {
    margin-top: 50px;
    margin-bottom: 13px;
}

.sigin-content-block form .form-group,
.login-content-block form .form-group {
    text-align: initial;
    font-size: 18px;
}

.sigin-content-block .form-control,
.login-content-block .form-control {
    border-radius: 9px;
    border: 1px solid orange;
    width: 99%;
}

.sigin-content-block button,
.login-content-block button {
    margin-top: 13px;
    border-radius: 9px;
    width: 97%;
    font-size: 18px;
    color: white;
    padding: 4px 11px 3px 0;
}

.sigin-content-block .or,
.login-content-block .or {
    font-size: 18px;
    font-weight: 700;
}

.sigin-content-block .btn-sigin,
.login-content-block .btn-login {
    background-color: orange;
    border-color: orange;
}

.sigin-content-block .btn-fb,
.login-content-block .btn-fb {
    background-color: #354D89;
    border-color: #354D89;
}

.sigin-content-block .btn-gl,
.login-content-block .btn-gl {
    background-color: #CD3333;
    border-color: #CD3333;
}

.sigin-content-block .btn-gh,
.login-content-block .btn-gh {
    background-color: #303030;
    border-color: #303030;
}

.head-menu-mobile .search {
    margin-top: 1%;
}

/*----------sbar-menu--------------*/

.sbar-menu ul {
    margin: 0;
    padding: 0;
}

.sbar-menu ul li {
    list-style-type: none;
    margin: 0 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid RGBA(51, 51, 51, 0.71);
    border-left: 1px solid RGBA(34, 34, 34, 0.41);
    padding: 5px 0 5px 20px;
    font-size: 20px;
}

.sbar-menu ul a {
    color: #333;
    width: 100%;
}

.sbar-menu ul i {
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

li.active,
.sbar-menu li:hover,
.sbar-menu ul a:hover {
    background-color: orange;
    border: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.docs-content-block {
    margin-bottom: 100px;
}

.docs-content-block h1 {
    margin: 0;
}

/*----------navigation tabs-----------*/
.nav-tabs {
    border: none;
}

.nav-tabs > li > a {
    color: #333;
    font-weight: 700;
    font-size: 24px;
}

.nav-tabs > li.active {
    color: orange;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-bottom: 2px solid orange;
    color: orange;
    cursor: pointer;
    background-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    border-bottom: 2px solid orange;
    color: orange;
    cursor: pointer;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

/*.nav {*/
    /*margin-bottom: 45px;*/
/*}*/

/*----------navigation tabs-----------*/

.api-content-block .row img {
    float: left;
    margin: 0 5px;
}

.api-content-block .row button {
    float: right;
    /*margin: 0px 5px;*/
}

.price #gradient,
.interactive #gradient {
    margin-bottom: 2.4%;
}

.pricing-content-block h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

.pricing-content-block .tab-content h2 {
    font-size: 40px;
}

.pricing-content-block .tab-content span.text {
    font-size: 30px;
    display: block;
    margin: 38px 0 13px;
}

.pricing-content-block .pricing-block p {
    margin: 0 0;
    font-size: 18px;
}

.pricing-content-block .pricing-block p.coast {
    margin: 0 0;
    font-size: 54px;
}

.pricing-content-block .pricing-block span {
    font-size: 25px;
    display: block;
    margin-top: -10px;
}

.pricing-content-block .pricing-block hr {
    margin-bottom: 15px;
    margin-top: 16px;
}

.pricing-content-block .pricing-block .btn-block {
    margin-top: 12px;
}

.pricing-content-block .pricing-block {
    padding: 3% 0 4.3%;
}

.pricing-content-block h3 {
    font-size: 36px;
    color: #6D95C6;
}

.pricing-content-block .plan-details {
    margin-top: 34px;
    padding: 16px 0 0;
    margin-left: 0;
    background-color: rgb(248, 248, 248);
}

.pricing-content-block .plan-details span {
    font-size: 26px;
    display: block;
    padding: 8px 0;
}

.pricing-content-block .plan-details .cost div > div {
    font-size: 23px;
    padding-top: 17px;
}

.pricing-content-block .plan-details .cost-pad div > div {
    padding-top: 5px;
}

.pricing-content-block .plan-details #month {
    padding: 14px 0;
}

.pricing-content-block .plan-details #call-month {
    padding: 2px 0;
}

.price-foot {
    margin-top: 58px;
}

#high-pricing {
    font-size: 21px;
    margin: 65px 0 48px;
}

.link {
    text-decoration: underline;
    color: #0099FF;
}

.interactive-content-block h1 {
    font-size: 42px;
    margin-top: 38px;
    margin-bottom: 44px;
}

.interactive-content-block span {
    font-size: 25px;
    line-height: 46px;
}

.interactive-content-block form {
    margin: 32px 0 47px;
    font-size: 23px;
}

.interactive-content-block .form-control  {
    margin: 11px 0 25px;
    width: 59.5%;
    height: 46px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid #7EA6D9;
    padding: 5px 22px 0;
}

.interactive-content-block .row-title {
     font-size: 17px;
     margin: 46px 0 8px;
    color: #474747;
 }

.interactive-content-block .row-text {
    border-top: 1px solid #E5E5E5;
    background-color: rgb(246, 246, 246);
    padding: 20px 0 35px;
    margin: 0 0 45px 10px;
    width: 98%;
}

.interactive-content-block .row-text-two {
    margin: 0 0 0 10px;
    padding: 20px 0 30px;
}

.interactive-content-block .row-text form {
    padding: 0;
    margin: -6px 0 0;
}

.interactive-content-block .row-text .form-tabs .form-control  {
    margin: 0;
    width: 86%;
    padding: 0 7px;
    height: 28px;
    border: 2px solid #D1D1D1;
    border-radius: 10px;
    font-size: 14px;
    background-color: transparent;
}

.interactive-content-block .form-tabs .form-control.select-number {
    width: 36%;
}

.header-api #gradient {
    margin-bottom: 3.3%;
}

.api-content-block h1 {
    font-size: 38px;
}

.api-content-block .tit-text {
    font-size: 23px;
    display: block;
    margin: 43px 0 18px;
}

.api-content-block .tit-text2 {
    margin-bottom: 13px;
    font-size: 17px;
    width: 80%;
    display: block;
}

.api-content-block .row span {
    font-size: 18px;
    line-height: 28px;
}

.api-content-block .row .font-text {
    font-size: 17px;
    font-weight: 700;
}

.api-content-block .row .list {
    font-size: 18px;
    margin-top: 16px;
    line-height: 36px;
}

.api-content-block .row .list-marg {
    margin: 13px 0 0 50px;
}

.api-content-block .row .hr2 {
    margin-top: 13px;
    /*margin-bottom: 7px;*/
}

.api-content-block .row .hr1 {
    margin-top: 35px;
    margin-bottom: 7px;
}

.api-content-block .row .hr3 {
    margin-top: 29px;
    margin-bottom: 8px;
}

.api-content-block .row .hr4 {
    margin-top: 54px;
    margin-bottom: 8px;
}

.api-content-block .row .hr6 {
    margin-bottom: 25px;
}

.api-content-block .row .hr7 {
    margin-top: 27px;
}

.api-content-block .row .hr8 {
    margin-top: 52px;
    margin-bottom: 0;
}

.api-content-block .row .hr9 {
    margin-top: 31px;
}

.api-content-block .row h3 {
font-weight: 700;
}

.api-content-block .row span a,
.docs-content-block .row p a,
.docs-content-block .row .table a {
    color: #0089FF;
    text-decoration: underline;
}

.docs-content-block .row p a:hover,
.docs-content-block .row .table a:hover {
    color: #00549e;
}

.api-content-block .row .block-marg-top {
    margin-top: -40px;
}

.api-content-block .row span p {
    font-size: 18px;
    line-height: 28px;
    display: block;
    padding-right: 95px;
}

.api-content-block .row span i{
    font-size: 21px;
}

.api-content-block .row .btn-get {
     width: 189px;
     font-size: 22px;
     height: 48px;
     border-radius: 8px;
     margin-top: 10px;
 }

.api-content-block .row .btn-let-get {
    width: 394px;
    font-size: 22px;
    height: 48px;
    border-radius: 8px;
    margin-top: -4px;
}

.api-content-block .row .h3-marg {
    margin-top: 8px;
}

.doc #gradient {
    margin-bottom: 2.7%;
}

.docs-content-block .row .col-md-3 {
    width: 21%;
}

.docs-content-block .row .col-md-9 {
    padding-left: 112px;
}

.docs-content-block .row h1 {
    font-size: 43px;
    margin-top: -6px;
}

.docs-content-block .row p,
.docs-content-block .row ol {
    font-size: 20px;
    line-height: 34px;
}

.docs-content-block .row .tit-list {
    font-size: 18px;
    margin-top: 25px;
}

.docs-content-block .row .doc-list {
    line-height: 36px;
    font-size: 18px;
    margin-top: 17px;
    margin-left: 22px;
}

.docs-content-block .row #key-text {
    font-size: 18px;
    color: #A0A0A0;
}

.docs-content-block .row #key-tit {
    padding-left: 16px;
    font-size: 33px;
    margin-bottom: 33px;
}

.docs-content-block .row .doc-tit-text {
    font-size: 24px;
    margin-bottom: 30px;
}

.docs-content-block .row .table-correct {
    margin-top: 36px;
}

.docs-content-block .row .table th {
    font-size: 20px;
    color: #6E97C5;
    padding: 11px 11px 7px;
}

.docs-content-block .row .table td {
    font-size: 20px;
    padding: 10px 13px 13px;
}

.docs-content-block .row .table .new-width{
    width: 20%;
}

.docs-content-block .row h2 {
    font-size: 50px;
    margin: 37px 0;
}

.docs-content-block .row h2.correct {
    font-weight: 100;
}

.docs-content-block .row ol {
    padding-left: 16px;
}

/*---------------------mobile-------------------*/

@media (max-width: 991px){

    .how-work-block .cont .correct,
    .pricing-block .cont .correct
    {
        margin: auto;
    }

    .pricing-block .cont .correct {
        margin-bottom: 50px;
    }

    .what-apixu-block span,
    .libraries-block {
        width: 100%;
    }

    .btn-pricing,
    .what-apixu-block .row {
        margin-right: 0;
    }

    .what-apixu-block .row {
        padding: 0;
    }

    .footer-main {
        background: none;
    }

    .libraries-block .nav-element {
        margin-bottom: 120px;
    }

    .what-apixu-block .row .mob-vers {
        font-size: 20px;
        margin: 30px 0;
    }

    .what-apixu-block .row .mob-vers2 {
        margin-left: 10px;
    }
    .what-apixu-block .row .mob-vers3 {
        margin-left: 14px;
    }
    .what-apixu-block .row #img-indivad {
        margin: 3px 0 0 3px;
    }
    .what-apixu-block .row #text-indivad {
        margin: -50px 0 15px 83px;
    }
    .what-apixu-block .row #text-simple {
        margin: -65px 0 0 97px;
    }

    .api-content-block .get-start-api {
        width: 290px;
        font-size: 18px;
        height: 38px;
        margin-top: 50px;
    }

    .api-content-block .tit-text2 {
        width: 100%;
    }

    .api-content-block .title,
    .api-content-block .mob-want,
    .pricing-content-block h1,
    .pricing-content-block .tab-content h2,
    .pricing-content-block .tab-content span.text,
    .pricing-content-block h3,
    .pricing-content-block .plan-details span,
    #high-pricing,
    .interactive-content-block h1,
    .interactive-content-block span,
    .docs-content-block .row h1,
    .docs-content-block .row .mob-vers6,
    .docs-content-block .row .doc2 p,
    .docs-content-block .row .doc3 p,
    .docs-content-block .row #key-tit,
    .docs-content-block .row #key-text,
    .docs-content-block .row .doc-tit-text,
    .docs-content-block .row .doc4 .mob-vers8,
    .docs-content-block .row .doc5 p,
    .docs-content-block .row .doc6 p,
    .docs-content-block .row .doc7 p,
    .docs-content-block .row .doc8 p,
    .docs-content-block .row .doc9 p,
    .docs-content-block .row .doc10 p,
    .docs-content-block .row .doc10 ol,
    .docs-content-block .row .doc11 p,
    .docs-content-block .row .doc12 p {
        text-align: center;
    }

    .docs-content-block .row #key-text {
        display: block;
    }

    .pricing-content-block .ps-text span {
        text-align: left;
    }

    .api-content-block .mob-want button {
        float: none;
    }

    .api-content-block .row .block-marg-top {
        margin-top: 0;
    }

    .api-content-block img {
        margin: 29px 50% 38px 45% !important;
        width: 100px !important;
    }

    .header-autor .login-content-block,
    .header-autor .sigin-content-block {
        width: 100%;
        margin: 25px 0 0;
    }

    .nav-tabs > li a {
        width: 100%;
        font-size: 16px;
    }

    .pricing-content-block .pricing-block .correct {
        margin: auto;
        margin-bottom: 25% !important;
        margin-top: 4% !important;
    }

    .pricing-content-block .plan-details {
        background-color: rgba(248, 248, 248, 0);
    }

    .plan-details .free,
    .plan-details .silver,
    .plan-details .gold,
    .plan-details .platinum {
        padding: 3px;
        font-size: 23px;
        margin: 0;
        display: inline-block;
    }

    .plan-details .free {
        width: 75px;
    }

    .plan-details .silver {
        width: 80px;
    }

    .plan-details .gold{
        width: 75px;
    }

    .plan-details .platinum{
        width: 97px;
    }

    .pricing-content-block .mob-vers4 {
        margin-bottom: 20px;
    }

    .pricing-content-block .cost-pad {
        margin-bottom: 60px;
    }

    .interactive-content-block span {
        display: block;
    }

    .interactive-content-block .form-control {
        width: 100%;
    }

    .interactive-content-block .nav-tabs > li #mob-cur {
        padding: 0 115px;
    }

    .interactive-content-block .nav-tabs > li #mob-for {
        padding: 0 110px;
    }

    .interactive-content-block .nav-tabs > li #mob-sear {
        padding: 0 100px;
    }

    .interactive-content-block .row-title, {
        margin-bottom: 30px;
    }

    .interactive-content-block .mob-vers5 {
        min-height: 160px;
    }

    .interactive-content-block .row-text .form-tabs .table-forecast {
        width: 50%;
        float: right;
        margin-top: -16px;
    }

    .interactive-content-block .row-text{
        border: none;
    }

    .interactive-content-block .mob-vers6 {
        height: 140px;
    }

    .docs-content-block .row .col-md-3 {
        width: 70%;
        margin: auto;
        padding-bottom: 60px;
    }

    .sbar-menu ul li{
        border-radius: 8px;
        font-size: 18px;
    }

    .docs-content-block .row .col-md-9{
        padding-left: 0;
    }

    .docs-content-block .row .mob-vers6 {
        margin-top: 50px;
    }
    .docs-content-block .row .tit-list,
    .docs-content-block .row .doc-list {
        color: rgba(56, 54, 54, 0.48);
    }

    .docs-content-block .row .mob-vers7 {
    text-align: left;
    }

    .docs-content-block .row .table th,
    .docs-content-block .row .table td,
    .docs-content-block .row .table td p,
    .docs-content-block .row .table td ul {
        font-size: 15px;
        padding: 1% 0.4% 1%;
    }
}